@media screen and (max-width: 500px) {
    body {
        width: 100vw;

    }

    #section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section1 .box1 {
        /* background-color: red; */
        width: 100vw;
        height: 100vh;
    }

    #section1 .box1 h1 {
        font-size: 11vw;

    }


    #section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #section2 .box1 {
        width: 80vw;
        height: 80vh;
    }

    #section2 .box2 {
        width: 80vw;
        height: 80vh;
        padding: 60px;
    }


    #section3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section3 .box1 {
        display: flex;
        width: 80vw;
        height: 80vh;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-size: 5.5vw;
        padding: 2px;


    }

    #section3 .box2 {
        display: flex;
        width: 80vw;
        /* height: 80vh; */
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        font-size: 5.5vw;
        padding: 2px;

    }

    #section4 {
        display: flex;
        flex-direction: column;
        width: 100vw;


    }

    #section4 .box1 {
        width: 100vw;
        /* background-color: red; */
    }
}